[Unit]
Description=VNC Per-Connection Server
After=syslog.target

[Service]
ExecStart=-/usr/bin/mervncserver
ExecReload=/bin/kill -HUP $MAINPID
User=nemo

[Install]
WantedBy=network.target
